@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;*/
  color: rgba(255, 255, 255, 0.87);
  background-color: #4518ac;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;

  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header,
header > div {
  display: flex;
  align-items: center;
}

header {
  gap: 1em;
  justify-content: center;
}

.search-input {
  display: flex;
  align-items: center;
  padding: 0.8em;
  border: white 2px solid;
  width: max-content;
}

.search-input > input {
  background-color: transparent;
  outline: none;
  border: none;
  caret-color: white;
  font-size: 1.3em;
  color: white;
}

svg {
  width: 2em;
  height: min-content;
}

/* img {
  max-width: 100%;
  height: auto;
   aspect-ratio: 16 / 9; 
  object-fit: cover;
} */
